<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy Character Creation</title>
    </head>
    <body>
        <h1 style="background-color:orange;"></h1style>Character List</h1>
        <h2 style="background-color:orange;"></h2style> Welcome to fantasy character creation!</h2>
        <h3> You can submit the name of your race, then choose the characters: name, age, gender, class and description based on the race you've chosen</h3>
        <span><a href="{{ url_for('create') }}">Create Race</a></span>
        <span><a href="{{ url_for('create_character') }}">Create Character</a></span>
        <span><a href="{{ url_for('read') }}">Read</a></span>
        {% block todo %}{% endblock todo %}
    </body>
</html>