{% extends 'main.html' %}
{% block char %}
    <h3>All Characters:</h3>
    <p>  
        {% for character in characters %}      
        Name: {{ character.name }} <br>
        Age: {{ character.age }} <br>
        Gender: {{ character.gender }} <br>
        Date: {{ character.date }} <br>
        Race: {{ character.race.name }} <br>

        
   
        <span><a href="{{ url_for('deletecharacter', name=character.name) }}">Delete</a></span> 
        <br>
        <br>
    {% endfor %}
    <br>
    {% for race in race %}
    <br>
    Race name: {{ race.name }}
    <br>
    <span><a href="{{ url_for('updaterace', name=race.name) }}">Update</a></span>
    <span><a href="{{ url_for('deleterace', name=race.name) }}">Delete</a></span>
    <br> 
    {% endfor %}
    </p>
    
{% endblock char %}